body {
    background-color: #eee;
}


/*
 * Page container
 */
body > .container {
    padding-top: 50px;
    background-color: white;
}
body > .container .page-content {
    padding: 5px 20px 10px 0;
}


/*
 * Responsive stypes
 */
@media (max-width: 980px) {

  body > .container {
    padding-top: 0;
  }
  .navbar-fixed-top {
    margin-bottom: 0;
  }

} /* END: @media (max-width: 980px) */