#
# List of dependencies for Python and Django.
# 
# To install it, run command in terminal:
# > pip install -r requirements.txt
#


# required
Django==1.4.5
MySQL-python


# additional tools
ipython

